
.fast{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor {
    cursor: pointer;
}


#google-btn {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.img-avatar {
    width: 200px;
    height: 200px;
}

.w100 {
    width: 100px;
}

.w130 {
    width: 130px;
}

.w50 {
    width: 50px;
    /* border-radius: 100%; */
    /* display: grid; */
    /* place-items: center; */
    /* justify-self: center; */
}

.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
